.container-video {
    overflow: hidden;
    z-index: 1;
    width: 400px;
    height: 150px;
    border-radius: 50px;
    opacity: .4;
    filter: drop-shadow(5px 5px 10px #000000);
    border: 3px rgb(180, 176, 176) solid;
    box-sizing: border-box;
}

#webcamVideo {
    -o-filter: blur(15px);
    filter: blur(4px);
    scale: 1 4
}

.steel-button {
    color: rgb(68, 67, 67) !important;
    width: 400px;
    height: 150px;
    border-radius: 50px;
    border: 0;
    --convexity: 0;
    font-size: 50px;
}

.position {
    position: absolute;
    top: 50%;
    left: 30%;
}

.metal {
    border-color: #7c7c7c;
    background: linear-gradient(top, rgba(38, 38, 38, 0.8), #e6e6e6 25%, #ffffff 38%, #c5c5c5 63%, #f7f7f7 87%, rgba(38, 38, 38, 0.8));
    background: -webkit-linear-gradient(top, rgba(38, 38, 38, 0.5), #e6e6e6 25%, #ffffff 38%, rgba(0, 0, 0, 0.25)  63%, #e6e6e6 87%, rgba(38, 38, 38, 0.4));
}